@font-face {
    font-family: "SpaceGrotesk SemiBold";
    src: local("SpaceGrotesk SemiBold"), url("../fonts/SpaceGrotesk-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "SpaceGrotesk";
    src: local("SpaceGrotesk"), url("../fonts/SpaceGrotesk-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "SpaceGrotesk Bold";
    src: local("SpaceGrotesk Bold"), url("../fonts/SpaceGrotesk-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "SpaceGrotesk Medium";
    src: local("SpaceGrotesk Medium"), url("../fonts/SpaceGrotesk-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "SpaceGrotesk Light";
    src: local("SpaceGrotesk Light"), url("../fonts/SpaceGrotesk-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Courier";
    src: local("Courier"), url("../fonts/CourierPrime-Regular.ttf") format("truetype");
}
